In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
#import all dataframes
codeath_df = pd.read_csv('datasets//1. annual-number-of-deaths-by-cause.csv')
nodeathbyage_df = pd.read_csv('datasets//2. number-of-deaths-by-age-group.csv')
medper1000_df = pd.read_csv('datasets//3. Medical Doctors Per 10000 population.csv')
countries_df = pd.read_csv('datasets//4. ISO 3166_country-and-continent-codes-list-csv.csv')
worldpop_df = pd.read_csv('datasets//5. World Population.csv')
cexpenditure_df = pd.read_csv('datasets//6. Current health expenditure (% of GDP).csv')

In [37]:
#query the first ten columns
codeath_df.head(10)

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,...,Chronic kidney disease,Poisonings,Protein,Terrorism (deaths),Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,4490.0,512.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,4534.0,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,4597.0,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,4785.0,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,4846.0,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
5,Afghanistan,AFG,2013,2,2281.0,1581.0,491.0,1690.0,143.0,1777.0,...,4945.0,494.0,1651.0,3709.0,8054.0,6859.0,3413.0,6476.0,460.0,2204.0
6,Afghanistan,AFG,2014,6,1935.0,1620.0,502.0,1617.0,228.0,1757.0,...,5055.0,496.0,1579.0,5414.0,8087.0,6851.0,3454.0,6522.0,463.0,2134.0
7,Afghanistan,AFG,2015,1,1821.0,1652.0,511.0,1505.0,284.0,1730.0,...,5153.0,496.0,1469.0,6216.0,7730.0,6835.0,3492.0,6555.0,463.0,2065.0
8,Afghanistan,AFG,2016,6,1795.0,1690.0,524.0,1452.0,388.0,1742.0,...,5296.0,504.0,1416.0,6142.0,7866.0,6894.0,3578.0,6673.0,471.0,2044.0
9,Afghanistan,AFG,1990,NaN,2159.0,1116.0,371.0,2087.0,93.0,1370.0,...,3709.0,338.0,2054.0,12.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0

In [38]:
#query the first five columns
nodeathbyage_df.head(5)

,Entity,Code,Year,Deaths 70+ years,Deaths 50-69 years,Deaths Age: 15-49 years,Deaths 5-14 years,Deaths Under 5
0,Afghanistan,AFG,1990,34681,40624,22968,5642,78170
1,Afghanistan,AFG,1991,35271,41414,26523,6433,83035
2,Afghanistan,AFG,1992,35694,41829,30000,6854,93859
3,Afghanistan,AFG,1993,36433,42598,32339,7206,106537
4,Afghanistan,AFG,1994,37460,43923,36817,8106,115334

In [39]:
#query the first five columns
medper1000_df.head()

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,ThreeLocCode,Location,Period,FactValueNumeric,Value
0,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2018,2.14,2.14
1,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2017,2.15,2.15
2,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2009,1.31,1.31
3,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2004,0.62,0.62
4,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,1997,0.59,0.59

In [40]:
#query the first five columns
countries_df.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number,African_Region
0,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0,North Africa
1,Africa,AF,"Angola, Republic of",AO,AGO,24.0,Central Africa
2,Africa,AF,"Botswana, Republic of",BW,BWA,72.0,Southern Africa
3,Africa,AF,"Burundi, Republic of",BI,BDI,108.0,East Africa
4,Africa,AF,"Cameroon, Republic of",CM,CMR,120.0,Central Africa

In [41]:
#query the first twenty columns
worldpop_df.head(20)

         Entity Code   Year  Population (historical estimates)
0   Afghanistan  AFG -10000                              14737
1   Afghanistan  AFG  -9000                              20405
2   Afghanistan  AFG  -8000                              28253
3   Afghanistan  AFG  -7000                              39120
4   Afghanistan  AFG  -6000                              54166
5   Afghanistan  AFG  -5000                              74999
6   Afghanistan  AFG  -4000                             306250
7   Afghanistan  AFG  -3000                             537500
8   Afghanistan  AFG  -2000                             768751
9   Afghanistan  AFG  -1000                             999998
10  Afghanistan  AFG      0                            1999997
11  Afghanistan  AFG    100                            2250002
12  Afghanistan  AFG    200                            2500001
13  Afghanistan  AFG    300                            2500001
14  Afghanistan  AFG    400                            2500001
15  Afghanistan  AFG    500                            2500001
16  Afghanistan  AFG    600                            2500001
17  Afghanistan  AFG    700                            2425001
18  Afghanistan  AFG    800                            2350008
19  Afghanistan  AFG    900                            2299999

In [42]:
#select only african countries
african_countries = countries_df[countries_df['Continent_Name']=='Africa']

In [43]:
#rename column in the dataset
african_countries.rename(columns = {'Three_Letter_Country_Code':'Country_Code'}, inplace = True)

C:\Users\x\AppData\Local\Temp\ipykernel_24504\1314470559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  african_countries.rename(columns = {'Three_Letter_Country_Code':'Country_Code'}, inplace = True)

In [44]:
#select years from 1980 and above
worldpop_df = worldpop_df[worldpop_df['Year'] >= 1980]

In [45]:
#query the first five columns
cexpenditure_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,6.252428,6.390627,5.969416,6.635666,6.710734,6.528098,6.492506,6.468483,...,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,9.443390,8.941258,9.808474,9.948290,10.622766,9.904675,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
3,Africa Western and Central,AFW,3.771302,3.770256,3.387634,4.681099,4.481882,4.277262,4.139578,3.908460,...,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100,NaN,NaN
4,Angola,AGO,1.908599,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,...,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360,NaN,NaN

In [46]:
#convert the data to long format
cexpenditure_df_long = pd.melt(cexpenditure_df, id_vars=['Country Name', 'Country Code'], value_vars=['2000','2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], value_name="expenditure", ignore_index=False)
cexpenditure_df_long

                    Country Name Country Code variable  expenditure
0                          Aruba          ABW     2000          NaN
1    Africa Eastern and Southern          AFE     2000     6.252428
2                    Afghanistan          AFG     2000          NaN
3     Africa Western and Central          AFW     2000     3.771302
4                         Angola          AGO     2000     1.908599
..                           ...          ...      ...          ...
261                       Kosovo          XKX     2021          NaN
262                  Yemen, Rep.          YEM     2021          NaN
263                 South Africa          ZAF     2021          NaN
264                       Zambia          ZMB     2021          NaN
265                     Zimbabwe          ZWE     2021          NaN

[5852 rows x 4 columns]

In [47]:
#african countries cause of death
cod_in_afr = codeath_df.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
cod_in_afr

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,...,Terrorism (deaths),Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis,Country_Name,Country_Code,African_Region
0,Algeria,DZA,1990.0,NaN,838.0,1337.0,439.0,453.0,9.0,1207.0,...,3.0,13438.0,4410.0,2401.0,3981.0,1113.0,486.0,"Algeria, People's Democratic Republic of",DZA,North Africa
1,Algeria,DZA,1991.0,NaN,794.0,1411.0,451.0,439.0,9.0,1136.0,...,42.0,13120.0,4481.0,2456.0,4033.0,1078.0,478.0,"Algeria, People's Democratic Republic of",DZA,North Africa
2,Algeria,DZA,1992.0,NaN,763.0,1494.0,470.0,427.0,12.0,1111.0,...,236.0,13115.0,4571.0,2500.0,4083.0,1071.0,472.0,"Algeria, People's Democratic Republic of",DZA,North Africa
3,Algeria,DZA,1993.0,NaN,736.0,1582.0,488.0,417.0,12.0,1092.0,...,NaN,13154.0,4668.0,2542.0,4136.0,1067.0,470.0,"Algeria, People's Democratic Republic of",DZA,North Africa
4,Algeria,DZA,1994.0,NaN,708.0,1675.0,509.0,402.0,8.0,1086.0,...,500.0,13326.0,4773.0,2588.0,4193.0,1095.0,469.0,"Algeria, People's Democratic Republic of",DZA,North Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1620,Zambia,ZMB,2015.0,NaN,2256.0,626.0,173.0,2269.0,5235.0,406.0,...,NaN,2173.0,2214.0,4026.0,5804.0,326.0,270.0,"Zambia, Republic of",ZMB,East Africa
1621,Zambia,ZMB,2016.0,NaN,2174.0,651.0,178.0,2148.0,4716.0,391.0,...,NaN,2209.0,2249.0,4179.0,6000.0,323.0,268.0,"Zambia, Republic of",ZMB,East Africa
1622,Zambia,ZMB,2017.0,NaN,2156.0,689.0,186.0,2087.0,4287.0,386.0,...,0.0,2252.0,2302.0,4386.0,6275.0,325.0,270.0,"Zambia, Republic of",ZMB,East Africa
1623,Zambia,ZMB,2018.0,NaN,2088.0,726.0,195.0,1954.0,4815.0,366.0,...,NaN,2258.0,2341.0,4481.0,6385.0,323.0,265.0,"Zambia, Republic of",ZMB,East Africa
1624,Zambia,ZMB,2019.0,NaN,2065.0,763.0,203.0,1899.0,4777.0,359.0,...,NaN,2285.0,2388.0,4593.0,6528.0,326.0,263.0,"Zambia, Republic of",ZMB,East Africa

In [48]:
#change the year to int
cod_in_afr = cod_in_afr.dropna(subset=['Year'])
cod_in_afr['Year'] = cod_in_afr['Year'].astype(int)

C:\Users\x\AppData\Local\Temp\ipykernel_24504\4115610813.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cod_in_afr['Year'] = cod_in_afr['Year'].astype(int)

In [49]:
#check for changes
cod_in_afr.head(2)

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,...,Terrorism (deaths),Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis,Country_Name,Country_Code,African_Region
0,Algeria,DZA,1990,NaN,838.0,1337.0,439.0,453.0,9.0,1207.0,...,3.0,13438.0,4410.0,2401.0,3981.0,1113.0,486.0,"Algeria, People's Democratic Republic of",DZA,North Africa
1,Algeria,DZA,1991,NaN,794.0,1411.0,451.0,439.0,9.0,1136.0,...,42.0,13120.0,4481.0,2456.0,4033.0,1078.0,478.0,"Algeria, People's Democratic Republic of",DZA,North Africa

In [77]:
cod_in_afr.columns

Index(['Entity', 'Code', 'Year',
       'Number of executions (Amnesty International)', 'Meningitis',
       'Alzheimer's disease and other dementias', 'Parkinson's disease',
       'Nutritional deficiencies', 'Malaria', 'Drowning',
       'Interpersonal violence', 'Maternal disorders', 'HIV/AIDS',
       'Drug use disorders', 'Tuberculosis', 'Cardiovascular diseases',
       'Lower respiratory infections', 'Neonatal disorders',
       'Alcohol use disorders', 'Self', 'Exposure to forces of nature',
       'Diarrheal diseases', 'Environmental heat and cold exposure',
       'Neoplasms', 'Conflict and terrorism', 'Diabetes mellitus',
       'Chronic kidney disease', 'Poisonings', 'Protein', 'Terrorism (deaths)',
       'Road injuries', 'Chronic respiratory diseases',
       'Cirrhosis and other chronic liver diseases', 'Digestive diseases',
       'Fire, heat, and hot substances', 'Acute hepatitis', 'Country_Name',
       'Country_Code', 'African_Region'],
      dtype='object')

In [85]:
cod_in_afr2 = pd.melt(cod_in_afr, id_vars=['Entity', 'Code', 'Year','Country_Name',
       'Country_Code', 'African_Region'], value_vars=['Number of executions (Amnesty International)', 'Meningitis',
       "Alzheimer's disease and other dementias", "Parkinson's disease",
       'Nutritional deficiencies', 'Malaria', 'Drowning',
       'Interpersonal violence', 'Maternal disorders', 'HIV/AIDS',
       'Drug use disorders', 'Tuberculosis', 'Cardiovascular diseases',
       'Lower respiratory infections', 'Neonatal disorders',
       'Alcohol use disorders', 'Self', 'Exposure to forces of nature',
       'Diarrheal diseases', 'Environmental heat and cold exposure',
       'Neoplasms', 'Conflict and terrorism', 'Diabetes mellitus',
       'Chronic kidney disease', 'Poisonings', 'Protein', 'Terrorism (deaths)',
       'Road injuries', 'Chronic respiratory diseases',
       'Cirrhosis and other chronic liver diseases', 'Digestive diseases',
       'Fire, heat, and hot substances', 'Acute hepatitis'], value_name='Cause of Death')

In [86]:
cod_in_afr2

,Entity,Code,Year,Country_Name,Country_Code,African_Region,variable,Cause of Death
0,Algeria,DZA,1990,"Algeria, People's Democratic Republic of",DZA,North Africa,Number of executions (Amnesty International),NaN
1,Algeria,DZA,1991,"Algeria, People's Democratic Republic of",DZA,North Africa,Number of executions (Amnesty International),NaN
2,Algeria,DZA,1992,"Algeria, People's Democratic Republic of",DZA,North Africa,Number of executions (Amnesty International),NaN
3,Algeria,DZA,1993,"Algeria, People's Democratic Republic of",DZA,North Africa,Number of executions (Amnesty International),NaN
4,Algeria,DZA,1994,"Algeria, People's Democratic Republic of",DZA,North Africa,Number of executions (Amnesty International),NaN
...,...,...,...,...,...,...,...,...
53521,Zambia,ZMB,2015,"Zambia, Republic of",ZMB,East Africa,Acute hepatitis,270.0
53522,Zambia,ZMB,2016,"Zambia, Republic of",ZMB,East Africa,Acute hepatitis,268.0
53523,Zambia,ZMB,2017,"Zambia, Republic of",ZMB,East Africa,Acute hepatitis,270.0
53524,Zambia,ZMB,2018,"Zambia, Republic of",ZMB,East Africa,Acute hepatitis,265.0
53525,Zambia,ZMB,2019,"Zambia, Republic of",ZMB,East Africa,Acute hepatitis,263.0

In [87]:
cod_in_afr2.to_csv('outputs//cause_of_death_africa2.csv')

In [50]:
#extract data to csv
cod_in_afr.to_csv('outputs//cause_of_death_africa.csv')

In [51]:
#african countries death by age dataset
no_death_age_africa= nodeathbyage_df.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
no_death_age_africa

,Entity,Code,Year,Deaths 70+ years,Deaths 50-69 years,Deaths Age: 15-49 years,Deaths 5-14 years,Deaths Under 5,Country_Name,Country_Code,African_Region
0,Algeria,DZA,1990.0,45295.0,28519.0,26069.0,7856.0,45891.0,"Algeria, People's Democratic Republic of",DZA,North Africa
1,Algeria,DZA,1991.0,46269.0,29803.0,25786.0,7224.0,43714.0,"Algeria, People's Democratic Republic of",DZA,North Africa
2,Algeria,DZA,1992.0,47879.0,30238.0,26364.0,7056.0,41813.0,"Algeria, People's Democratic Republic of",DZA,North Africa
3,Algeria,DZA,1993.0,49385.0,30771.0,26955.0,6899.0,40063.0,"Algeria, People's Democratic Republic of",DZA,North Africa
4,Algeria,DZA,1994.0,51193.0,31202.0,28917.0,6923.0,38320.0,"Algeria, People's Democratic Republic of",DZA,North Africa
...,...,...,...,...,...,...,...,...,...,...,...
1619,Zambia,ZMB,2015.0,20828.0,24196.0,38387.0,5240.0,35951.0,"Zambia, Republic of",ZMB,East Africa
1620,Zambia,ZMB,2016.0,21403.0,24892.0,38213.0,4846.0,34998.0,"Zambia, Republic of",ZMB,East Africa
1621,Zambia,ZMB,2017.0,22112.0,25745.0,38420.0,4681.0,33892.0,"Zambia, Republic of",ZMB,East Africa
1622,Zambia,ZMB,2018.0,22784.0,26416.0,37830.0,4370.0,32543.0,"Zambia, Republic of",ZMB,East Africa
1623,Zambia,ZMB,2019.0,23410.0,27051.0,37212.0,4192.0,31490.0,"Zambia, Republic of",ZMB,East Africa

In [52]:
#change year dtype to int
no_death_age_africa = no_death_age_africa.dropna(subset=['Year'])
no_death_age_africa['Year'] = no_death_age_africa['Year'].astype('int')
no_death_age_africa['Year'].isnull().sum()

#rename columns for clarity
no_death_age_africa.rename(columns = {'Deaths 70+ years':'70+ years', 'Deaths 50-69 years':'50-69 years', 'Deaths Age: 15-49 years':'15-49 years', 'Deaths 5-14 years':'5-14 years', 'Deaths Under 5':'Under 5 years'}, inplace = True)
no_death_age_africa

C:\Users\x\AppData\Local\Temp\ipykernel_24504\47423226.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_death_age_africa['Year'] = no_death_age_africa['Year'].astype('int')
C:\Users\x\AppData\Local\Temp\ipykernel_24504\47423226.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_death_age_africa.rename(columns = {'Deaths 70+ years':'70+ years', 'Deaths 50-69 years':'50-69 years', 'Deaths Age: 15-49 years':'15-49 years', 'Deaths 5-14 years':'5-14 years', 'Deaths Under 5':'Under 5 years'}, inplace = True)

,Entity,Code,Year,70+ years,50-69 years,15-49 years,5-14 years,Under 5 years,Country_Name,Country_Code,African_Region
0,Algeria,DZA,1990,45295.0,28519.0,26069.0,7856.0,45891.0,"Algeria, People's Democratic Republic of",DZA,North Africa
1,Algeria,DZA,1991,46269.0,29803.0,25786.0,7224.0,43714.0,"Algeria, People's Democratic Republic of",DZA,North Africa
2,Algeria,DZA,1992,47879.0,30238.0,26364.0,7056.0,41813.0,"Algeria, People's Democratic Republic of",DZA,North Africa
3,Algeria,DZA,1993,49385.0,30771.0,26955.0,6899.0,40063.0,"Algeria, People's Democratic Republic of",DZA,North Africa
4,Algeria,DZA,1994,51193.0,31202.0,28917.0,6923.0,38320.0,"Algeria, People's Democratic Republic of",DZA,North Africa
...,...,...,...,...,...,...,...,...,...,...,...
1619,Zambia,ZMB,2015,20828.0,24196.0,38387.0,5240.0,35951.0,"Zambia, Republic of",ZMB,East Africa
1620,Zambia,ZMB,2016,21403.0,24892.0,38213.0,4846.0,34998.0,"Zambia, Republic of",ZMB,East Africa
1621,Zambia,ZMB,2017,22112.0,25745.0,38420.0,4681.0,33892.0,"Zambia, Republic of",ZMB,East Africa
1622,Zambia,ZMB,2018,22784.0,26416.0,37830.0,4370.0,32543.0,"Zambia, Republic of",ZMB,East Africa
1623,Zambia,ZMB,2019,23410.0,27051.0,37212.0,4192.0,31490.0,"Zambia, Republic of",ZMB,East Africa

In [53]:
#extract data to csv
no_death_age_africa.to_csv('outputs//number_of_death_by_age_group_africa.csv')

In [54]:
#african countries personnel per 10000 dataset
med_per_100_africa = medper1000_df.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='ThreeLocCode', right_on='Country_Code', how='right')
med_per_100_africa

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,ThreeLocCode,Location,Period,FactValueNumeric,Value,Country_Name,Country_Code,African_Region
0,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,DZA,Algeria,2018.0,17.19,17.19,"Algeria, People's Democratic Republic of",DZA,North Africa
1,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,DZA,Algeria,2016.0,18.33,18.33,"Algeria, People's Democratic Republic of",DZA,North Africa
2,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,DZA,Algeria,2007.0,11.96,11.96,"Algeria, People's Democratic Republic of",DZA,North Africa
3,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,DZA,Algeria,2005.0,10.24,10.24,"Algeria, People's Democratic Republic of",DZA,North Africa
4,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,DZA,Algeria,2002.0,11.10,11.1,"Algeria, People's Democratic Republic of",DZA,North Africa
...,...,...,...,...,...,...,...,...,...,...,...,...
1529,HWF_0005,Medical doctors not further defined (number),AFR,Africa,ZMB,Zambia,2009.0,801.00,801,"Zambia, Republic of",ZMB,East Africa
1530,HWF_0005,Medical doctors not further defined (number),AFR,Africa,ZMB,Zambia,2008.0,795.00,795,"Zambia, Republic of",ZMB,East Africa
1531,HWF_0005,Medical doctors not further defined (number),AFR,Africa,ZMB,Zambia,2006.0,649.00,649,"Zambia, Republic of",ZMB,East Africa
1532,HWF_0005,Medical doctors not further defined (number),AFR,Africa,ZMB,Zambia,2005.0,646.00,646,"Zambia, Republic of",ZMB,East Africa
1533,HWF_0005,Medical doctors not further defined (number),AFR,Africa,ZMB,Zambia,2004.0,1499.00,1499,"Zambia, Republic of",ZMB,East Africa

In [55]:
#convert the date to int
med_per_100_africa = med_per_100_africa.dropna(subset=['Period'])
med_per_100_africa['Period'] = med_per_100_africa['Period'].astype('int')

#drop irrelevant columns
med_per_100_africa.drop(columns=['ParentLocationCode', 'ParentLocation'], inplace=True)
med_per_100_africa.sample(2)

C:\Users\x\AppData\Local\Temp\ipykernel_24504\784824256.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  med_per_100_africa['Period'] = med_per_100_africa['Period'].astype('int')
C:\Users\x\AppData\Local\Temp\ipykernel_24504\784824256.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  med_per_100_africa.drop(columns=['ParentLocationCode', 'ParentLocation'], inplace=True)

,IndicatorCode,Indicator,ThreeLocCode,Location,Period,FactValueNumeric,Value,Country_Name,Country_Code,African_Region
1313,HWF_0002,Medical doctors (number),TGO,Togo,2020,685.0,685,"Togo, Togolese Republic",TGO,West Africa
1294,HWF_0004,Specialist medical practitioners (number),SWZ,Eswatini,2020,29.0,29,"Swaziland, Kingdom of",SWZ,Southern Africa

In [56]:
#extract data to csv
med_per_100_africa.to_csv('outputs//medical_personnel_per_1000_africa.csv')

In [57]:
#getting the population in african countries
africa_pop = worldpop_df.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
africa_pop

,Entity,Code,Year,Population (historical estimates),Country_Name,Country_Code,African_Region
0,Algeria,DZA,1980,18739378,"Algeria, People's Democratic Republic of",DZA,North Africa
1,Algeria,DZA,1981,19351356,"Algeria, People's Democratic Republic of",DZA,North Africa
2,Algeria,DZA,1982,20000098,"Algeria, People's Democratic Republic of",DZA,North Africa
3,Algeria,DZA,1983,20682110,"Algeria, People's Democratic Republic of",DZA,North Africa
4,Algeria,DZA,1984,21393532,"Algeria, People's Democratic Republic of",DZA,North Africa
...,...,...,...,...,...,...,...
2431,Zambia,ZMB,2017,17298056,"Zambia, Republic of",ZMB,East Africa
2432,Zambia,ZMB,2018,17835898,"Zambia, Republic of",ZMB,East Africa
2433,Zambia,ZMB,2019,18380478,"Zambia, Republic of",ZMB,East Africa
2434,Zambia,ZMB,2020,18927716,"Zambia, Republic of",ZMB,East Africa
2435,Zambia,ZMB,2021,19473132,"Zambia, Republic of",ZMB,East Africa

In [58]:
africa_pop.to_csv('outputs//africa_population.csv')

In [59]:
#african medical expenditure 
africa_expenditure = cexpenditure_df_long.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='Country Code', right_on='Country_Code', how='right')
africa_expenditure.rename(columns={'variable':'Year'}, inplace= True)
africa_expenditure

,Country Name,Country Code,Year,expenditure,Country_Name,Country_Code,African_Region
0,Algeria,DZA,2000,3.489033,"Algeria, People's Democratic Republic of",DZA,North Africa
1,Algeria,DZA,2001,3.837877,"Algeria, People's Democratic Republic of",DZA,North Africa
2,Algeria,DZA,2002,3.730042,"Algeria, People's Democratic Republic of",DZA,North Africa
3,Algeria,DZA,2003,3.601041,"Algeria, People's Democratic Republic of",DZA,North Africa
4,Algeria,DZA,2004,3.544073,"Algeria, People's Democratic Republic of",DZA,North Africa
...,...,...,...,...,...,...,...
1187,Zambia,ZMB,2017,4.376977,"Zambia, Republic of",ZMB,East Africa
1188,Zambia,ZMB,2018,5.032715,"Zambia, Republic of",ZMB,East Africa
1189,Zambia,ZMB,2019,5.312203,"Zambia, Republic of",ZMB,East Africa
1190,Zambia,ZMB,2020,NaN,"Zambia, Republic of",ZMB,East Africa
1191,Zambia,ZMB,2021,NaN,"Zambia, Republic of",ZMB,East Africa

In [60]:
africa_expenditure.to_csv('outputs//medical_expenditure_africa.csv')

In [61]:
most_adv_country = countries_df[countries_df['Three_Letter_Country_Code']=='USA']

In [62]:
#rename column in the dataset
most_adv_country.rename(columns = {'Three_Letter_Country_Code':'Country_Code'}, inplace = True)

most_adv_country

C:\Users\x\AppData\Local\Temp\ipykernel_24504\4033572394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  most_adv_country.rename(columns = {'Three_Letter_Country_Code':'Country_Code'}, inplace = True)

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Country_Code,Country_Number,African_Region
211,North America,NaN,United States of America,US,USA,840.0,NaN

In [63]:
cod_in_us = codeath_df.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
#change the year to int
cod_in_us = cod_in_us.dropna(subset=['Year'])
cod_in_us['Year'] = cod_in_us['Year'].astype(int)

In [64]:
#extract data to csv
cod_in_us.to_csv('outputs//cause_of_death_US.csv')

In [88]:
cod_in_us2 = pd.melt(cod_in_us, id_vars=['Entity', 'Code', 'Year','Country_Name',
       'Country_Code', 'African_Region'], value_vars=['Number of executions (Amnesty International)', 'Meningitis',
       "Alzheimer's disease and other dementias", "Parkinson's disease",
       'Nutritional deficiencies', 'Malaria', 'Drowning',
       'Interpersonal violence', 'Maternal disorders', 'HIV/AIDS',
       'Drug use disorders', 'Tuberculosis', 'Cardiovascular diseases',
       'Lower respiratory infections', 'Neonatal disorders',
       'Alcohol use disorders', 'Self', 'Exposure to forces of nature',
       'Diarrheal diseases', 'Environmental heat and cold exposure',
       'Neoplasms', 'Conflict and terrorism', 'Diabetes mellitus',
       'Chronic kidney disease', 'Poisonings', 'Protein', 'Terrorism (deaths)',
       'Road injuries', 'Chronic respiratory diseases',
       'Cirrhosis and other chronic liver diseases', 'Digestive diseases',
       'Fire, heat, and hot substances', 'Acute hepatitis'], value_name='Cause of Death')

In [89]:
#extract data to csv
cod_in_us2.to_csv('outputs//cause_of_death_US2.csv')

In [65]:
#US death by age dataset
no_death_age_us= nodeathbyage_df.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
no_death_age_us

,Entity,Code,Year,Deaths 70+ years,Deaths 50-69 years,Deaths Age: 15-49 years,Deaths 5-14 years,Deaths Under 5,Country_Name,Country_Code,African_Region
0,United States,USA,1990,1311304,534778,232106,8544,45719,United States of America,USA,NaN
1,United States,USA,1991,1334471,528848,237222,8455,43894,United States of America,USA,NaN
2,United States,USA,1992,1359629,520011,241288,8343,41595,United States of America,USA,NaN
3,United States,USA,1993,1414194,524770,249661,8546,40324,United States of America,USA,NaN
4,United States,USA,1994,1446815,521408,255340,8553,38306,United States of America,USA,NaN
5,United States,USA,1995,1485079,519607,257117,8502,36091,United States of America,USA,NaN
6,United States,USA,1996,1505712,509266,246763,8335,34589,United States of America,USA,NaN
7,United States,USA,1997,1522571,501991,233012,8033,33814,United States of America,USA,NaN
8,United States,USA,1998,1552524,501356,227942,7822,33763,United States of America,USA,NaN
9,United States,USA,1999,1588683,506795,229772,7632,33545,United States of America,USA,NaN
10,United States,USA,2000,1605276,509856,232460,7399,33376,United States of America,USA,NaN
11,United States,USA,2001,1616150,515469,239791,7441,33135,United States of America,USA,NaN
12,United States,USA,2002,1624543,524645,240937,7137,33138,United States of America,USA,NaN
13,United States,USA,2003,1619031,533948,242045,7041,33346,United States of America,USA,NaN
14,United States,USA,2004,1594623,536715,238865,6865,33156,United States of America,USA,NaN
15,United States,USA,2005,1608050,551147,242150,7001,33757,United States of America,USA,NaN
16,United States,USA,2006,1601557,559468,239706,6326,33885,United States of America,USA,NaN
17,United States,USA,2007,1596513,569699,234503,6157,34029,United States of America,USA,NaN
18,United States,USA,2008,1608522,586219,228731,5822,32818,United States of America,USA,NaN
19,United States,USA,2009,1604095,600235,224035,5639,30930,United States of America,USA,NaN
20,United States,USA,2010,1614179,608995,216911,5427,29143,United States of America,USA,NaN
21,United States,USA,2011,1643565,627036,215119,5437,28477,United States of America,USA,NaN
22,United States,USA,2012,1661592,644846,212186,5313,27986,United States of America,USA,NaN
23,United States,USA,2013,1689713,661297,211126,5338,27686,United States of America,USA,NaN
24,United States,USA,2014,1715014,680022,213144,5324,27456,United States of America,USA,NaN
25,United States,USA,2015,1751611,700772,220203,5428,27474,United States of America,USA,NaN
26,United States,USA,2016,1777133,724660,230793,5515,27149,United States of America,USA,NaN
27,United States,USA,2017,1801791,724538,231687,5422,26271,United States of America,USA,NaN
28,United States,USA,2018,1876142,736035,227657,5366,25315,United States of America,USA,NaN
29,United States,USA,2019,1946636,744796,225003,5278,24743,United States of America,USA,NaN

In [66]:
#change year dtype to int
no_death_age_us = no_death_age_us.dropna(subset=['Year'])
no_death_age_us['Year'] = no_death_age_us['Year'].astype('int')
no_death_age_us['Year'].isnull().sum()

#rename columns for clarity
no_death_age_us.rename(columns = {'Deaths 70+ years':'70+ years', 'Deaths 50-69 years':'50-69 years', 'Deaths Age: 15-49 years':'15-49 years', 'Deaths 5-14 years':'5-14 years', 'Deaths Under 5':'Under 5 years'}, inplace = True)
no_death_age_us

,Entity,Code,Year,70+ years,50-69 years,15-49 years,5-14 years,Under 5 years,Country_Name,Country_Code,African_Region
0,United States,USA,1990,1311304,534778,232106,8544,45719,United States of America,USA,NaN
1,United States,USA,1991,1334471,528848,237222,8455,43894,United States of America,USA,NaN
2,United States,USA,1992,1359629,520011,241288,8343,41595,United States of America,USA,NaN
3,United States,USA,1993,1414194,524770,249661,8546,40324,United States of America,USA,NaN
4,United States,USA,1994,1446815,521408,255340,8553,38306,United States of America,USA,NaN
5,United States,USA,1995,1485079,519607,257117,8502,36091,United States of America,USA,NaN
6,United States,USA,1996,1505712,509266,246763,8335,34589,United States of America,USA,NaN
7,United States,USA,1997,1522571,501991,233012,8033,33814,United States of America,USA,NaN
8,United States,USA,1998,1552524,501356,227942,7822,33763,United States of America,USA,NaN
9,United States,USA,1999,1588683,506795,229772,7632,33545,United States of America,USA,NaN
10,United States,USA,2000,1605276,509856,232460,7399,33376,United States of America,USA,NaN
11,United States,USA,2001,1616150,515469,239791,7441,33135,United States of America,USA,NaN
12,United States,USA,2002,1624543,524645,240937,7137,33138,United States of America,USA,NaN
13,United States,USA,2003,1619031,533948,242045,7041,33346,United States of America,USA,NaN
14,United States,USA,2004,1594623,536715,238865,6865,33156,United States of America,USA,NaN
15,United States,USA,2005,1608050,551147,242150,7001,33757,United States of America,USA,NaN
16,United States,USA,2006,1601557,559468,239706,6326,33885,United States of America,USA,NaN
17,United States,USA,2007,1596513,569699,234503,6157,34029,United States of America,USA,NaN
18,United States,USA,2008,1608522,586219,228731,5822,32818,United States of America,USA,NaN
19,United States,USA,2009,1604095,600235,224035,5639,30930,United States of America,USA,NaN
20,United States,USA,2010,1614179,608995,216911,5427,29143,United States of America,USA,NaN
21,United States,USA,2011,1643565,627036,215119,5437,28477,United States of America,USA,NaN
22,United States,USA,2012,1661592,644846,212186,5313,27986,United States of America,USA,NaN
23,United States,USA,2013,1689713,661297,211126,5338,27686,United States of America,USA,NaN
24,United States,USA,2014,1715014,680022,213144,5324,27456,United States of America,USA,NaN
25,United States,USA,2015,1751611,700772,220203,5428,27474,United States of America,USA,NaN
26,United States,USA,2016,1777133,724660,230793,5515,27149,United States of America,USA,NaN
27,United States,USA,2017,1801791,724538,231687,5422,26271,United States of America,USA,NaN
28,United States,USA,2018,1876142,736035,227657,5366,25315,United States of America,USA,NaN
29,United States,USA,2019,1946636,744796,225003,5278,24743,United States of America,USA,NaN

In [67]:
#extract data to csv
no_death_age_us.to_csv('outputs//number_of_death_by_age_group_US.csv')

In [68]:
#US personnel per 10000 dataset
med_per_100_US = medper1000_df.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='ThreeLocCode', right_on='Country_Code', how='right')
# med_per_100_US

In [69]:
#convert the date to int
med_per_100_US = med_per_100_US.dropna(subset=['Period'])
med_per_100_US['Period'] = med_per_100_US['Period'].astype('int')

#drop irrelevant columns
med_per_100_US.drop(columns=['ParentLocationCode', 'ParentLocation'], inplace=True)
med_per_100_US.sample(2)

,IndicatorCode,Indicator,ThreeLocCode,Location,Period,FactValueNumeric,Value,Country_Name,Country_Code,African_Region
3,HWF_0001,"Medical doctors (per 10,000)",USA,United States of America,1995,24.39,24.39,United States of America,USA,NaN
13,HWF_0005,Medical doctors not further defined (number),USA,United States of America,1985,525070.00,525 070,United States of America,USA,NaN

In [70]:
#extract data to csv
med_per_100_US.to_csv('outputs//medical_personnel_per_1000_US.csv')

In [71]:
#getting the population in US
US_pop = worldpop_df.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
US_pop

,Entity,Code,Year,Population (historical estimates),Country_Name,Country_Code,African_Region
0,United States,USA,1980,223140016,United States of America,USA,NaN
1,United States,USA,1981,225654000,United States of America,USA,NaN
2,United States,USA,1982,228001424,United States of America,USA,NaN
3,United States,USA,1983,230389968,United States of America,USA,NaN
4,United States,USA,1984,232766288,United States of America,USA,NaN
5,United States,USA,1985,235146176,United States of America,USA,NaN
6,United States,USA,1986,237512784,United States of America,USA,NaN
7,United States,USA,1987,239853168,United States of America,USA,NaN
8,United States,USA,1988,242287808,United States of America,USA,NaN
9,United States,USA,1989,244954096,United States of America,USA,NaN
10,United States,USA,1990,248083728,United States of America,USA,NaN
11,United States,USA,1991,251560192,United States of America,USA,NaN
12,United States,USA,1992,255175328,United States of America,USA,NaN
13,United States,USA,1993,258779760,United States of America,USA,NaN
14,United States,USA,1994,262273584,United States of America,USA,NaN
15,United States,USA,1995,265660560,United States of America,USA,NaN
16,United States,USA,1996,268984352,United States of America,USA,NaN
17,United States,USA,1997,272395424,United States of America,USA,NaN
18,United States,USA,1998,275835008,United States of America,USA,NaN
19,United States,USA,1999,279181568,United States of America,USA,NaN
20,United States,USA,2000,282398560,United States of America,USA,NaN
21,United States,USA,2001,285470496,United States of America,USA,NaN
22,United States,USA,2002,288350240,United States of America,USA,NaN
23,United States,USA,2003,291109824,United States of America,USA,NaN
24,United States,USA,2004,293947872,United States of America,USA,NaN
25,United States,USA,2005,296842656,United States of America,USA,NaN
26,United States,USA,2006,299753088,United States of America,USA,NaN
27,United States,USA,2007,302743392,United States of America,USA,NaN
28,United States,USA,2008,305694912,United States of America,USA,NaN
29,United States,USA,2009,308512032,United States of America,USA,NaN
30,United States,USA,2010,311182848,United States of America,USA,NaN
31,United States,USA,2011,313876608,United States of America,USA,NaN
32,United States,USA,2012,316651328,United States of America,USA,NaN
33,United States,USA,2013,319375168,United States of America,USA,NaN
34,United States,USA,2014,322033952,United States of America,USA,NaN
35,United States,USA,2015,324607776,United States of America,USA,NaN
36,United States,USA,2016,327210208,United States of America,USA,NaN
37,United States,USA,2017,329791232,United States of America,USA,NaN
38,United States,USA,2018,332140032,United States of America,USA,NaN
39,United States,USA,2019,334319680,United States of America,USA,NaN
40,United States,USA,2020,335942016,United States of America,USA,NaN
41,United States,USA,2021,336997632,United States of America,USA,NaN

In [72]:
US_pop.to_csv('outputs//US_population.csv')

In [75]:
#US medical expenditure 
US_expenditure = cexpenditure_df_long.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='Country Code', right_on='Country_Code', how='right')
US_expenditure.rename(columns={'variable':'Year'}, inplace= True)

In [76]:
US_expenditure.to_csv('outputs//medical_expenditure_US.csv')