In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import all dataframes
codeath_df = pd.read_csv('datasets//1. annual-number-of-deaths-by-cause.csv')
nodeathbyage_df = pd.read_csv('datasets//2. number-of-deaths-by-age-group.csv')
medper1000_df = pd.read_csv('datasets//3. Medical Doctors Per 10000 population.csv')
countries_df = pd.read_csv('datasets//4. ISO 3166_country-and-continent-codes-list-csv.csv')
worldpop_df = pd.read_csv('datasets//5. World Population.csv')
cexpenditure_df = pd.read_csv('datasets//6. Current health expenditure (% of GDP).csv')

In [3]:
#query the first ten columns
codeath_df.head(10)

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,...,Chronic kidney disease,Poisonings,Protein,Terrorism (deaths),Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,4490.0,512.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,4534.0,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,4597.0,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,4785.0,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,4846.0,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
5,Afghanistan,AFG,2013,2,2281.0,1581.0,491.0,1690.0,143.0,1777.0,...,4945.0,494.0,1651.0,3709.0,8054.0,6859.0,3413.0,6476.0,460.0,2204.0
6,Afghanistan,AFG,2014,6,1935.0,1620.0,502.0,1617.0,228.0,1757.0,...,5055.0,496.0,1579.0,5414.0,8087.0,6851.0,3454.0,6522.0,463.0,2134.0
7,Afghanistan,AFG,2015,1,1821.0,1652.0,511.0,1505.0,284.0,1730.0,...,5153.0,496.0,1469.0,6216.0,7730.0,6835.0,3492.0,6555.0,463.0,2065.0
8,Afghanistan,AFG,2016,6,1795.0,1690.0,524.0,1452.0,388.0,1742.0,...,5296.0,504.0,1416.0,6142.0,7866.0,6894.0,3578.0,6673.0,471.0,2044.0
9,Afghanistan,AFG,1990,NaN,2159.0,1116.0,371.0,2087.0,93.0,1370.0,...,3709.0,338.0,2054.0,12.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0

In [4]:
#query the first five columns
nodeathbyage_df.head(5)

,Entity,Code,Year,Deaths 70+ years,Deaths 50-69 years,Deaths Age: 15-49 years,Deaths 5-14 years,Deaths Under 5
0,Afghanistan,AFG,1990,34681,40624,22968,5642,78170
1,Afghanistan,AFG,1991,35271,41414,26523,6433,83035
2,Afghanistan,AFG,1992,35694,41829,30000,6854,93859
3,Afghanistan,AFG,1993,36433,42598,32339,7206,106537
4,Afghanistan,AFG,1994,37460,43923,36817,8106,115334

In [5]:
#query the first five columns
medper1000_df.head()

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,ThreeLocCode,Location,Period,FactValueNumeric,Value
0,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2018,2.14,2.14
1,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2017,2.15,2.15
2,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2009,1.31,1.31
3,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,2004,0.62,0.62
4,HWF_0001,"Medical doctors (per 10,000)",AFR,Africa,AGO,Angola,1997,0.59,0.59

In [6]:
#query the first five columns
countries_df.head()

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number,African_Region
0,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0,North Africa
1,Africa,AF,"Angola, Republic of",AO,AGO,24.0,Central Africa
2,Africa,AF,"Botswana, Republic of",BW,BWA,72.0,Southern Africa
3,Africa,AF,"Burundi, Republic of",BI,BDI,108.0,East Africa
4,Africa,AF,"Cameroon, Republic of",CM,CMR,120.0,Central Africa

In [7]:
#query the first twenty columns
worldpop_df.head(10)

        Entity Code   Year  Population (historical estimates)
0  Afghanistan  AFG -10000                              14737
1  Afghanistan  AFG  -9000                              20405
2  Afghanistan  AFG  -8000                              28253
3  Afghanistan  AFG  -7000                              39120
4  Afghanistan  AFG  -6000                              54166
5  Afghanistan  AFG  -5000                              74999
6  Afghanistan  AFG  -4000                             306250
7  Afghanistan  AFG  -3000                             537500
8  Afghanistan  AFG  -2000                             768751
9  Afghanistan  AFG  -1000                             999998

In [8]:
#select only african countries
african_countries = countries_df[countries_df['Continent_Name']=='Africa']

In [9]:
#rename column in the dataset
african_countries.rename(columns = {'Three_Letter_Country_Code':'Country_Code'}, inplace = True)

C:\Users\x\AppData\Local\Temp\ipykernel_24436\1314470559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  african_countries.rename(columns = {'Three_Letter_Country_Code':'Country_Code'}, inplace = True)

In [10]:
#select years from 1980 and above
worldpop_df = worldpop_df[worldpop_df['Year'] >= 1980]

In [11]:
#query the first five columns
cexpenditure_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,6.252428,6.390627,5.969416,6.635666,6.710734,6.528098,6.492506,6.468483,...,6.562794,6.565689,6.152063,6.482263,6.390654,6.317654,6.286829,6.266386,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,9.443390,8.941258,9.808474,9.948290,10.622766,9.904675,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,13.242202,NaN,NaN
3,Africa Western and Central,AFW,3.771302,3.770256,3.387634,4.681099,4.481882,4.277262,4.139578,3.908460,...,3.505065,3.621925,3.614749,3.834676,3.811248,3.789624,3.393160,3.366100,NaN,NaN
4,Angola,AGO,1.908599,4.483516,3.329461,3.547973,3.967201,2.852197,2.685537,2.974388,...,2.395750,2.732828,2.434129,2.605795,2.713149,2.791503,2.540102,2.533360,NaN,NaN

In [12]:
#convert the data to long format
cexpenditure_df_long = pd.melt(cexpenditure_df, id_vars=['Country Name', 'Country Code'], value_vars=['2000','2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], value_name="expenditure", ignore_index=False)
cexpenditure_df_long.sample(10)

                       Country Name Country Code variable  expenditure
247                          Uganda          UGA     2011     6.695910
66                          Ecuador          ECU     2007     5.339813
202              Russian Federation          RUS     2002     5.521666
153      Middle East & North Africa          MEA     2018     5.696216
240         South Asia (IDA & IBRD)          TSA     2015     3.515184
250                         Uruguay          URY     2018     9.014555
253  St. Vincent and the Grenadines          VCT     2019     4.752913
143                       Lithuania          LTU     2009     7.365873
73                   European Union          EUU     2020          NaN
140             Low & middle income          LMY     2019     5.317744

In [13]:
#african countries cause of death
cod_in_afr = codeath_df.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
cod_in_afr.sample(2)

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,...,Terrorism (deaths),Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis,Country_Name,Country_Code,African_Region
988,Namibia,NAM,2017.0,NaN,104.0,218.0,50.0,203.0,133.0,75.0,...,NaN,568.0,781.0,330.0,715.0,88.0,8.0,"Namibia, Republic of",NAM,Southern Africa
1584,Burkina Faso,BFA,2009.0,NaN,6135.0,896.0,250.0,4871.0,40824.0,655.0,...,NaN,3428.0,1981.0,2354.0,4717.0,494.0,240.0,Burkina Faso,BFA,West Africa

In [14]:
#change the year to int
cod_in_afr = cod_in_afr.dropna(subset=['Year'])
cod_in_afr['Year'] = cod_in_afr['Year'].astype(int)

In [15]:
#check for changes
cod_in_afr.head(2)

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Alzheimer's disease and other dementias,Parkinson's disease,Nutritional deficiencies,Malaria,Drowning,...,Terrorism (deaths),Road injuries,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,"Fire, heat, and hot substances",Acute hepatitis,Country_Name,Country_Code,African_Region
0,Algeria,DZA,1990,NaN,838.0,1337.0,439.0,453.0,9.0,1207.0,...,3.0,13438.0,4410.0,2401.0,3981.0,1113.0,486.0,"Algeria, People's Democratic Republic of",DZA,North Africa
1,Algeria,DZA,1991,NaN,794.0,1411.0,451.0,439.0,9.0,1136.0,...,42.0,13120.0,4481.0,2456.0,4033.0,1078.0,478.0,"Algeria, People's Democratic Republic of",DZA,North Africa

In [50]:
cod_in_afr2 = pd.melt(cod_in_afr, id_vars=['Entity', 'Code', 'Year','Country_Name',
       'Country_Code', 'African_Region'], value_vars=['Number of executions (Amnesty International)', 'Meningitis',
       "Alzheimer's disease and other dementias", "Parkinson's disease",
       'Nutritional deficiencies', 'Malaria', 'Drowning',
       'Interpersonal violence', 'Maternal disorders', 'HIV/AIDS',
       'Drug use disorders', 'Tuberculosis', 'Cardiovascular diseases',
       'Lower respiratory infections', 'Neonatal disorders',
       'Alcohol use disorders', 'Self', 'Exposure to forces of nature',
       'Diarrheal diseases', 'Environmental heat and cold exposure',
       'Neoplasms', 'Conflict and terrorism', 'Diabetes mellitus',
       'Chronic kidney disease', 'Poisonings', 'Protein', 'Terrorism (deaths)',
       'Road injuries', 'Chronic respiratory diseases',
       'Cirrhosis and other chronic liver diseases', 'Digestive diseases',
       'Fire, heat, and hot substances', 'Acute hepatitis'], var_name='Causes of Death', value_name='Number')

In [51]:
cod_in_afr2.sample(20)

,Entity,Code,Year,Country_Name,Country_Code,African_Region,Causes of Death,Number
41740,Seychelles,SYC,2010,"Seychelles, Republic of",SYC,East Africa,Protein,2.0
19886,Eritrea,ERI,1992,"Eritrea, State of",ERI,East Africa,Cardiovascular diseases,2921.0
51968,Botswana,BWA,2012,"Botswana, Republic of",BWA,Southern Africa,Acute hepatitis,9.0
23496,Malawi,MWI,1998,"Malawi, Republic of",MWI,East Africa,Neonatal disorders,14157.0
18411,Ghana,GHA,2019,"Ghana, Republic of",GHA,West Africa,Tuberculosis,10223.0
39562,Kenya,KEN,1991,"Kenya, Republic of",KEN,East Africa,Poisonings,437.0
11539,Central African Republic,CAF,1995,Central African Republic,CAF,Central Africa,Interpersonal violence,220.0
24839,Gabon,GAB,2019,"Gabon, Gabonese Republic",GAB,Central Africa,Alcohol use disorders,19.0
15784,Seychelles,SYC,2006,"Seychelles, Republic of",SYC,East Africa,HIV/AIDS,5.0
43886,Burundi,BDI,1992,"Burundi, Republic of",BDI,East Africa,Road injuries,1332.0
4718,Uganda,UGA,1992,"Uganda, Republic of",UGA,East Africa,Alzheimer's disease and other dementias,732.0
53293,Eswatini,SWZ,1997,"Swaziland, Kingdom of",SWZ,Southern Africa,Acute hepatitis,9.0
14287,Zimbabwe,ZWE,2011,"Zimbabwe, Republic of",ZWE,East Africa,Maternal disorders,1480.0
4069,Mali,MLI,2005,"Mali, Republic of",MLI,West Africa,Alzheimer's disease and other dementias,791.0
35314,Somalia,SOM,2003,"Somalia, Somali Republic",SOM,East Africa,Conflict and terrorism,472.0
3779,Gambia,GMB,2015,"Gambia, Republic of the",GMB,West Africa,Alzheimer's disease and other dementias,130.0
17469,Somalia,SOM,2000,"Somalia, Somali Republic",SOM,East Africa,Drug use disorders,9.0
20762,Zimbabwe,ZWE,1998,"Zimbabwe, Republic of",ZWE,East Africa,Cardiovascular diseases,10964.0
53479,Burkina Faso,BFA,2003,Burkina Faso,BFA,West Africa,Acute hepatitis,314.0
22285,Seychelles,SYC,2019,"Seychelles, Republic of",SYC,East Africa,Lower respiratory infections,77.0

In [18]:
cod_in_afr2.to_csv('outputs//cause_of_death_africa2.csv')

In [19]:
#extract data to csv
cod_in_afr.to_csv('outputs//cause_of_death_africa.csv')

In [20]:
#african countries death by age dataset
no_death_age_africa= nodeathbyage_df.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
no_death_age_africa.sample(2)

,Entity,Code,Year,Deaths 70+ years,Deaths 50-69 years,Deaths Age: 15-49 years,Deaths 5-14 years,Deaths Under 5,Country_Name,Country_Code,African_Region
8,Algeria,DZA,1998.0,56164.0,31244.0,31909.0,6348.0,31601.0,"Algeria, People's Democratic Republic of",DZA,North Africa
620,Cote d'Ivoire,CIV,2009.0,26500.0,35504.0,56377.0,7826.0,93233.0,"Cote d'Ivoire, Republic of",CIV,West Africa

In [21]:
#change year dtype to int
no_death_age_africa = no_death_age_africa.dropna(subset=['Year'])
no_death_age_africa['Year'] = no_death_age_africa['Year'].astype('int')
no_death_age_africa['Year'].isnull().sum()

#rename columns for clarity
no_death_age_africa.rename(columns = {'Deaths 70+ years':'70+ years', 'Deaths 50-69 years':'50-69 years', 'Deaths Age: 15-49 years':'15-49 years', 'Deaths 5-14 years':'5-14 years', 'Deaths Under 5':'Under 5 years'}, inplace = True)
no_death_age_africa.sample(2)

,Entity,Code,Year,70+ years,50-69 years,15-49 years,5-14 years,Under 5 years,Country_Name,Country_Code,African_Region
49,Angola,AGO,2009,21637.0,31805.0,38374.0,7779.0,96293.0,"Angola, Republic of",AGO,Central Africa
396,Ethiopia,ETH,1995,96487.0,150449.0,177492.0,36824.0,456630.0,"Ethiopia, Federal Democratic Republic of",ETH,East Africa

In [22]:
#extract data to csv
no_death_age_africa.to_csv('outputs//number_of_death_by_age_group_africa.csv')

In [23]:
#african countries personnel per 10000 dataset
med_per_100_africa = medper1000_df.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='ThreeLocCode', right_on='Country_Code', how='right')
med_per_100_africa.sample(2)

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,ThreeLocCode,Location,Period,FactValueNumeric,Value,Country_Name,Country_Code,African_Region
221,HWF_0004,Specialist medical practitioners (number),AFR,Africa,TCD,Chad,2019.0,202.0,202,"Chad, Republic of",TCD,Central Africa
1197,HWF_0002,Medical doctors (number),AFR,Africa,ZWE,Zimbabwe,2018.0,3026.0,3026,"Zimbabwe, Republic of",ZWE,East Africa

In [24]:
#convert the date to int
med_per_100_africa = med_per_100_africa.dropna(subset=['Period'])
med_per_100_africa['Period'] = med_per_100_africa['Period'].astype('int')

#drop irrelevant columns
med_per_100_africa.drop(columns=['ParentLocationCode', 'ParentLocation'], inplace=True)
med_per_100_africa= med_per_100_africa[med_per_100_africa['IndicatorCode'] == 'HWF_0001']

In [25]:
#extract data to csv
med_per_100_africa.to_csv('outputs//medical_personnel_per_1000_africa.csv')

In [26]:
#getting the population in african countries
africa_pop = worldpop_df.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
africa_pop.sample(2)

,Entity,Code,Year,Population (historical estimates),Country_Name,Country_Code,African_Region
574,Equatorial Guinea,GNQ,2008,994982,"Equatorial Guinea, Republic of",GNQ,Central Africa
309,Chad,TCD,1995,6888862,"Chad, Republic of",TCD,Central Africa

In [27]:
#export to csv
africa_pop.to_csv('outputs//africa_population.csv')

In [28]:
#african medical expenditure 
africa_expenditure = cexpenditure_df_long.merge(african_countries[['Country_Name','Country_Code', 'African_Region']], left_on='Country Code', right_on='Country_Code', how='right')
africa_expenditure.rename(columns={'variable':'Year'}, inplace= True)
africa_expenditure.sample(2)

,Country Name,Country Code,Year,expenditure,Country_Name,Country_Code,African_Region
9,Algeria,DZA,2009,5.359395,"Algeria, People's Democratic Republic of",DZA,North Africa
501,Lesotho,LSO,2016,8.759725,"Lesotho, Kingdom of",LSO,Southern Africa

In [29]:
#export to csv
africa_expenditure.to_csv('outputs//medical_expenditure_africa.csv')

In [30]:
#subset the data for USA
most_adv_country = countries_df[countries_df['Three_Letter_Country_Code']=='USA']

In [33]:
#rename column in the dataset
most_adv_country.rename(columns = {'Three_Letter_Country_Code':'Country_Code'}, inplace = True)

#get a sample of the dataset
most_adv_country

C:\Users\x\AppData\Local\Temp\ipykernel_24436\2028764799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  most_adv_country.rename(columns = {'Three_Letter_Country_Code':'Country_Code'}, inplace = True)

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Country_Code,Country_Number,African_Region
211,North America,NaN,United States of America,US,USA,840.0,NaN

In [34]:
#cause of death in the US
cod_in_us = codeath_df.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')

#change the year to int
cod_in_us = cod_in_us.dropna(subset=['Year'])
cod_in_us['Year'] = cod_in_us['Year'].astype(int)

In [35]:
#extract data to csv
cod_in_us.to_csv('outputs//cause_of_death_US.csv')

In [36]:
#
cod_in_us2 = pd.melt(cod_in_us, id_vars=['Entity', 'Code', 'Year','Country_Name',
       'Country_Code', 'African_Region'], value_vars=['Number of executions (Amnesty International)', 'Meningitis',
       "Alzheimer's disease and other dementias", "Parkinson's disease",
       'Nutritional deficiencies', 'Malaria', 'Drowning',
       'Interpersonal violence', 'Maternal disorders', 'HIV/AIDS',
       'Drug use disorders', 'Tuberculosis', 'Cardiovascular diseases',
       'Lower respiratory infections', 'Neonatal disorders',
       'Alcohol use disorders', 'Self', 'Exposure to forces of nature',
       'Diarrheal diseases', 'Environmental heat and cold exposure',
       'Neoplasms', 'Conflict and terrorism', 'Diabetes mellitus',
       'Chronic kidney disease', 'Poisonings', 'Protein', 'Terrorism (deaths)',
       'Road injuries', 'Chronic respiratory diseases',
       'Cirrhosis and other chronic liver diseases', 'Digestive diseases',
       'Fire, heat, and hot substances', 'Acute hepatitis'], value_name='Cause of Death')

In [37]:
#extract data to csv
cod_in_us2.to_csv('outputs//cause_of_death_US2.csv')

In [38]:
#US death by age dataset
no_death_age_us= nodeathbyage_df.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
no_death_age_us.sample(2)

,Entity,Code,Year,Deaths 70+ years,Deaths 50-69 years,Deaths Age: 15-49 years,Deaths 5-14 years,Deaths Under 5,Country_Name,Country_Code,African_Region
18,United States,USA,2008,1608522,586219,228731,5822,32818,United States of America,USA,NaN
4,United States,USA,1994,1446815,521408,255340,8553,38306,United States of America,USA,NaN

In [39]:
#change year dtype to int
no_death_age_us = no_death_age_us.dropna(subset=['Year'])
no_death_age_us['Year'] = no_death_age_us['Year'].astype('int')
no_death_age_us['Year'].isnull().sum()

#rename columns for clarity
no_death_age_us.rename(columns = {'Deaths 70+ years':'70+ years', 'Deaths 50-69 years':'50-69 years', 'Deaths Age: 15-49 years':'15-49 years', 'Deaths 5-14 years':'5-14 years', 'Deaths Under 5':'Under 5 years'}, inplace = True)
no_death_age_us.sample(2)

,Entity,Code,Year,70+ years,50-69 years,15-49 years,5-14 years,Under 5 years,Country_Name,Country_Code,African_Region
4,United States,USA,1994,1446815,521408,255340,8553,38306,United States of America,USA,NaN
10,United States,USA,2000,1605276,509856,232460,7399,33376,United States of America,USA,NaN

In [40]:
#extract data to csv
no_death_age_us.to_csv('outputs//number_of_death_by_age_group_US.csv')

In [41]:
#US personnel per 10000 dataset
med_per_100_US = medper1000_df.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='ThreeLocCode', right_on='Country_Code', how='right')
# med_per_100_US

In [42]:
#convert the date to int
med_per_100_US = med_per_100_US.dropna(subset=['Period'])
med_per_100_US['Period'] = med_per_100_US['Period'].astype('int')

#drop irrelevant columns
med_per_100_US.drop(columns=['ParentLocationCode', 'ParentLocation'], inplace=True)
med_per_100_US = med_per_100_US[med_per_100_US['IndicatorCode'] == 'HWF_0001']

In [43]:
#extract data to csv
med_per_100_US.to_csv('outputs//medical_personnel_per_1000_US.csv')

In [44]:
#getting the population in US
US_pop = worldpop_df.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='Code', right_on='Country_Code', how='right')
US_pop.sample(2)

,Entity,Code,Year,Population (historical estimates),Country_Name,Country_Code,African_Region
4,United States,USA,1984,232766288,United States of America,USA,NaN
25,United States,USA,2005,296842656,United States of America,USA,NaN

In [45]:
#export to csv
US_pop.to_csv('outputs//US_population.csv')

In [46]:
#US medical expenditure 
US_expenditure = cexpenditure_df_long.merge(most_adv_country[['Country_Name','Country_Code', 'African_Region']], left_on='Country Code', right_on='Country_Code', how='right')
US_expenditure.rename(columns={'variable':'Year'}, inplace= True)

In [47]:
#extract to csv
US_expenditure.to_csv('outputs//medical_expenditure_US.csv')